* { text-align: justify; }

#content { padding-right: 5%; padding-left: 5%;}

a:link { color: #808000; text-decoration:none; }
a:visited { color: #808000; }

h1 { text-transform: uppercase; }
h2 { text-transform: uppercase; }
h3 { border-bottom: 1px solid black; }

.outline-2 { margin-bottom: 20px; }
.outline-3 { margin-bottom: 20px; }

#table-of-contents { margin: 2%; }
#text-table-of-contents { margin: 2%; }
